---
Name: deploynaut-alerts
After:
  - '#deploynaut'
---
DNRoot:
  extensions:
    - DNRootAlertsExtension
  url_handlers:
    'project/$Project/alerts': 'alerts'
    'project/$Project/approvealert': 'approvealert'
DNProject:
  extensions:
    - DNProjectAlertsExtension
CapistranoDeploymentBackend:
  extensions:
    - AlertsDeploymentExtension
